.gameBoard{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box{
    margin: 0px;
    align-items: center;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}